<h1>Readings</h1>
<table>
<th>
  <td>Date</td>
  <td>Indoor</td>
  <td>Outdoor</td>
</th>
<% @readings.each do |reading| %>
<tr>
  <td><%= reading.date.strftime('%d/%m/%Y %H:%M') %></td>
  <td><%= reading.indoor_temperature.to_s + "&deg;C" %></td>
  <td><%= reading.outdoor_temperature.to_s + "&deg;C" %></td>
</tr>
<% end %>
</table>
<canvas id="tempChart" width="1024" height="500"></canvas>
<script>
    var ctx = document.getElementById("tempChart");
    var tempChart = new Chart(ctx, {
        type: 'line',
        animation:{
            animateScale: false
        },
        data: {
            labels: [ "<%= @readings.map(&:date).join("\", \"") %>" ],
            datasets: [{
                label: 'Indoor',
                backgroundColor: 'rgba( 255, 96, 120, 1)',
                borderColor:     'rgba( 255, 96, 120, 1)',
                data: [ "<%= @readings.map(&:indoor_temperature).join("\", \"") %>" ],
                borderWidth: 1,
                showLine: true,
                fill: false
              },
              {
                label: 'Outdoor',
                backgroundColor: 'rgba(  81, 125, 255, 1)',
                borderColor:     'rgba(  81, 125, 255, 1)',
                data: [ "<%= @readings.map(&:outdoor_temperature).join("\", \"") %>" ],
                borderWidth: 1,
                showLine: true,
                fill: false
              }]
        },
        options: {
            responsive: true,
            title:{
              display:true,
              text:'Temperature Readings'
            },
            legend: {
            display: true,
            labels: {
              fontColor: 'rgb(255, 99, 132)'
             }
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Date'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Deg C",
                },
                ticks: {
                  beginAtZero:true
                },
                min: -5,
                steps: 1,
                max: 30
              }]
            }
        }
    });
</script>
