<div class="col-lg-12">
  <h1>Readings</h1>
  <canvas id="tempChart" width="800" height="350"></canvas>
  <table>
  <tr>
    <th>Date</th>
    <th>Indoor</th>
    <th>Outhoor</th>
    <th>State</th>
  </th>
  <% @readings.each do |reading| %>
  <tr>
    <td><%= reading.date.to_datetime %></td>
    <td><%= reading.indoor_temperature.round(1).to_s + "&deg;C" %></td>
    <td><%= reading.outdoor_temperature.round(1).to_s + "&deg;C" %></td>
    <td><%= yes_no(reading.status) unless reading.status.nil? %>(<%= reading.status %>)</td>
  </tr>
  <% end %>
  </table>

</div>

<script>
    var ctx = document.getElementById("tempChart");
    var tempChart = new Chart(ctx, {
        type: 'line',
        animation:{
            animateScale: false
        },
        data: {
            labels: [ "<%= @readings.map {|d| d.date.to_datetime}.join("\", \"") %>" ],
            datasets: [{
                label: 'Indoor',
                backgroundColor: 'rgba( 255, 96, 120, 1)',
                borderColor:     'rgba( 255, 96, 120, 1)',
                data: [ "<%= @readings.map(&:indoor_temperature).join("\", \"") %>" ],
                borderWidth: 1,
                showLine: true,
                fill: false
              },
              {
                label: 'Outdoor',
                backgroundColor: 'rgba(  81, 125, 255, 1)',
                borderColor:     'rgba(  81, 125, 255, 1)',
                data: [ "<%= @readings.map(&:outdoor_temperature).join("\", \"") %>" ],
                borderWidth: 1,
                showLine: true,
                fill: false
              }]
        },
        options: {
            responsive: true,
            title:{
              display:true,
              text:'Temperature Readings'
            },
            legend: {
            display: true,
            labels: {
              fontColor: 'rgb(255, 99, 132)'
             }
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Date'
                },
                ticks: {
                  minRotation: 45,
                  maxRotation: 45
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Deg C",
                },
                ticks: {
                  beginAtZero:true
                }
              }]
            }
        }
    });
</script>
